{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "airbnb-standard",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "space-in-parens": ["error", "always"],
    "computed-property-spacing": ["error", "always"],
    "template-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-spacing": ["error", "always"],
  }
}